/* joshbergstrand.com */

a {
  transition: all .2s linear;
}
p.smallest {
  font-size: .625em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.light {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

/* ABOUT */

body.about {
  background-color: #52BC89;
}
body.about p {
  color: rgba(255, 255, 255, .8);
}
body.about li.current a, body.about li a:hover {
  color: white;
}
.about-content p a {
  color: rgba(255, 255, 255, .6);
  border-bottom: 1px solid rgba(255, 255, 255, .4);
}
.about-content p a:hover, .about-content p a:focus {
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.about-content {
  margin-top: 12vh;
}

/* NAV */

nav ul {
  margin-bottom: 0.9375em;
}
nav ul li {
  transition: all .2s linear;
}
nav ul {
  list-style: none;
  position: relative;
  left: -1.5em
}
nav ul li {
  display: inline-block;
  line-height: 4em;
  height: 4em;
}
nav ul li a {
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 4em;
  height: 4em;
  padding: 0.85em 1.5em 0.65em 1.5em;
}
nav ul li:hover {
  background-color: #fafafa;
}
nav ul li.resume:hover {
  background-color: transparent;
}
nav ul li.current {
  box-shadow: inset 0px 4px 0px 0px #52BC89;
}

/* Reverse */

nav ul.reverse li a {
  color: rgba(255, 255, 255, .6);
}
nav ul.reverse li.current {
  box-shadow: inset 0px 4px 0px 0px rgba(255, 255, 255, 1)
}
nav ul.reverse li:hover {
  background-color: rgba(82, 188, 137, 0.8);
}
nav ul.reverse li.resume:hover {
  background-color: transparent;
}

/* FOOTER */

footer {
  background-color: #fafafa;
  padding: 2em 0 4em;
}
footer p {
  font-family: "Futura", Helvetica, Roboto, Arial, sans-serif;
  color: #888;
}

/* WORK */

header.work {
  background-image: url(../img/usertesting-feedback.jpg);
  background-position: center center;
  background-size: cover;
  height: 66.667vh;
  overflow: hidden;
  background-attachment: fixed;
}
.work-header-content-container{
  background-color: rgba(82, 188, 137, 0.8);
  height: 66.667vh;
  position: relative;
}
.work-header-content {
  position: relative;
  top: 33.333%;
  transform: translate(0, -33.333%);
}
.work-header-content h1 {
  color: white;
}
.project h4 {
  color: #52BC89;
  font-weight: 400;
}
.project p {
  color: #888;
}
.project {
  border-bottom: 1px solid #eee;
  padding: 3em 0 2em;
}


/* PROJECT */

.project-header-content-container {
  background-color: rgba(82, 188, 137, 0.8);
}

.device-container {
  margin:20px auto -100px;

}
