/* joshbergstrand.com */

a {
  transition: all .2s linear;
}
p.smallest {
  font-size: .625em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.light {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

/* ABOUT */

body.about {
  background-color: #3F88C5;
}
body.about p {
  color: rgba(255, 255, 255, .8);
}
.about-content p a {
  color: rgba(255, 255, 255, .6);
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, .4);
}
.about-content p a:hover, .about-content p a:focus {
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.about-content {
  margin-top: 12vh;
}

/* NAV */

nav ul {
  list-style: none;
  margin: 1em 0;
}
nav ul li {
  transition: all .2s linear;
  display: inline-block;
  line-height: 4em;
  height: 4em;
}
nav ul li a {
  font-size: 0.75em;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 4em;
  height: 4em;
  padding: 1em;
}

/* Reverse */

nav ul.reverse li.current a, nav ul.reverse li a:hover {
  color: white;
}
nav ul.reverse li a {
  color: rgba(255, 255, 255, .6);
}
nav ul li.resume a {
  border: 1px solid rgba(255, 255, 255, .4);
  border-radius: 3px;
  margin-left: 1em;
}
nav ul li.resume a:hover {
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: white;
  color: #3F88C5;
}
@media only screen and (min-width: 64.0625em) {
  nav ul li a {
    padding: 1em 2em;
  }
  nav ul li.resume a {
    margin-left: 2em;
  }
}

/* Header */

h1.logo {
  height: 4em;
  width: 4em;
  background-color: white;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  font-size: 1em;
  float: left;
  margin: 1em 0;
}
.logo a {
  color: #3F88C5;
  font-weight: 400;
  font-size: 1.5em;
  width: 100%;
  padding: 0;
  height: 64px;
  line-height: 64px;
  display: block;
  text-transform: lowercase;
  position: relative;
  left: 4px;
  top: -1px;
}

/* FOOTER */

footer {
  background-color: #fafafa;
  padding: 2em 0 4em;
}
footer p {
  font-family: "Futura", Helvetica, Roboto, Arial, sans-serif;
  color: #888;
  margin-bottom:0;
}
@media only screen and (min-width: 40.0625em) {
  footer p:first-child {
    float: left;
  }
  footer p:last-child {
    float: right;
  }
}

/* WORK */

header.work {
  background-image: url(../img/usertesting-feedback.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  background-attachment: fixed;
}
.work-header-content-container {
  background-color: rgba(63, 136, 197, 0.8);
  height: 100vh;
  position: relative;
}
@media only screen and (min-width: 40.0625em) {
  header.work, .work-header-content-container {
    height: 66.667vh;
  }
}
.work-header-content {
  position: relative;
  top: 33.333%;
  transform: translate(0, -33.333%);
}
.project h4 {
  color: #3F88C5;
  font-weight: 400;
}
.project p {
  color: #888;
}
.project {
  border-bottom: 1px solid #eee;
  padding: 2em 0;
}
@media only screen and (min-width: 64.0625em) {
  .project {
    padding: 4em 0;
  }
}
.screen {
  height: 280px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media only screen and (min-width: 40.0625em) {
  .screen {
    height: 380px;
    background-size: contain;
  }

}
.project-vgi .screen {
  background-image: url(../img/work/vanguard/preview-vgi.gif);
}
.project-wfa .screen {
  background-image: url(../img/work/wfa/preview-wfa.png);
}
.project-msi .screen {
  background-image: url(../img/work/msi/preview-msi.png);
}
.project-ft-ipad .screen {
  background-image: url(../img/work/ft-ipad/preview-ft-ipad.png);
}
@media only screen and (min-width: 40.0625em) {
  .project-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .project .row {
    position: relative;
  }
}

/* PROJECT */

/* CASE STUDY */

header.case-study {
  background-image: url(../img/work/wfa/wfa-stakeholder-meeting.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  background-attachment: fixed;
}
.case-study-header-content-container {
  background-color: rgba(63, 136, 197, 0.8);
  height: 100vh;
  position: relative;
}
@media only screen and (min-width: 40.0625em) {
  header.case-study, .case-study-header-content-container {
    height: 66.667vh;
  }
}
.case-study-header-content {
  position: relative;
  top: 33.333%;
  transform: translate(0, -33.333%);
}
.text {
font-family: "Abril Text", Georgia, Times, 'Times New Roman', serif;
}

.case-study-text h4.text {
padding-top:1em;
}

.case-study-text, .case-study-image {
  padding-bottom:2em;
}
